@import '../../../styles/colors.scss';
@import '../../../styles/typographies/text-definitions.scss';

.banner {
  background-color: $cream;
  position: relative;

  &__image {
    background-color: $cream;
    max-height: 435px;
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }
  &__text {
    @include banner-text();

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
    right: 8%;
    max-width: 385px;

    @media (min-width: 768px) {
      right: 8%;
    }

    @media (min-width: 1440px) {
      font-size: 60px;
      max-width: 535px;
    }

    @media (min-width: 1920px) {
      right: 20%;
    }
  }
}
