@import '../../../styles/colors.scss';

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: $black;
  font-family: 'NikeFont';
  font-size: 26px;
  line-height: 26px;
  padding: 32px 0 26px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: 'HelveticaNeue', Helvetica !important;
  line-height: 22px;
  font-weight: 400;
  padding-bottom: 27px;
  text-align: center;
  text-transform: none !important;
  color: $darker-grey;
  font-size: 14px;
}
