body {
  background-color: $white;
  @include body-text();
}

textarea {
  resize: none;
  outline: none;
  height: 80px;
  padding: 10px 16px;
}

input[type="text"] {
  height: 40px;
  padding: 0 16px;
}

input[type="radio"] {
  cursor: pointer;
}