@import '../../../styles/colors.scss';
@import '../../../styles/typographies/text-definitions.scss';

.error-modal {
  background: rgba($blackest,.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  &--hidden {
    display: none;
  }

  &__content-container {
    background-color: $white;
    background-size: 90px;
    border-radius: 10px;
    box-sizing: border-box;
    left: inherit;
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    padding: 30px 20px;
    right: inherit;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    @include h1-title-text();  
    text-align: center;
  }

  &__description {
    @include body-text();
    
    padding: 27px 0;
    text-align: center;
  }
}
